/* 17-12-15 Joomla 3.4.6 - 0903-gcb-2015-protostar/templates/protostar/gcb-protostar */
/* DRY-ing */
/* donkerblauw (Reflex Blue) = rgb(37,74,149) = #254A95 */
/* turkooisblauw (lichtblauw) = color: rgb(64,185,212)*/
/* blauw Pantone 2718 = rgb(107,135,194)*/
/* okergroen = rgb(203, 211, 0)*/
/* zeegroen = rgb(126,192,182) */

html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead,
tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video, .navigation {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-family: Arial, Helvetica, sans-serif;
}
.moduletable, .site.com_content, .site.com_contact {
    padding: 0;
}
.container {
    background: url(/images/algemeen/gcb-logo-bg.png) 630px 320px no-repeat ;
}
p {
  font-size: 93.75% ;
  /* =13.5px (97.2222222216%=14px) */
}
a:link, a:visited {
    color: rgb(37,74,149);
}
a:hover, a:active, a:focus {
    color: rgb(64,185,212);
    background: rgb(255,255,255);
    text-decoration: none;
}
body.site.com_content, body.site.com_contact, body.site.com_breezingforms {
    border-top: 0;
}
.body .container {
    border: 0;
    width: 98%;
    margin: 0 auto;
    padding: 0.5em 1%;
    box-shadow: none;
}
.brand, .site-title {
    display: none;
}

.header {
    margin-bottom: 5%;
}
/* Ik wil dat de header verkleint bij smaller maken van het venster */
/* header-search staat op 100% , logo staat links + beelden geschaald */
/* + relative pos eruit, margins in % gebruiken om te positioneren */
.header-search {
    width: 100%;
}
/* nLevel menu niet in desktop */
nav#rain_main_ul {
    display: none !important;
}
.logo-gc {
    width: 19%;
}
.breadcrumb {
    margin-top: -9%;
    margin-right: 6.5%;
    font-size: 0.7em;
    float: right;
    width: 70%;
    text-align: right;
    padding: 0 0;
}
.breadcrumb, .breadcrumb li, .breadcrumb li.active {
    background: none;
    text-shadow: none;
    color: #555;
  }
.search {
    margin-top: -6%;
    margin-right: 6.5%;
    float: right;
}
.search .inputbox {
    border: 0;
    border-radius: 0;
    box-shadow: 0 0;
    /*-webkit  toegevoegd voor iPad, anders afgeronde hoeken inputbox */
    -webkit-appearance: none;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ddd;
    padding: 0.2em 0;
    margin: 0.3em 0;
    /*width: 62%;*/
}
.search .inputbox {
  float: left;
}
.search form button {
    border: none;
    border-radius: 0;
    background: rgb(107,135,194);
    font-weight: bold;
    padding: 0.2em 0.8em;
    margin: 0 0 -0.8em 0.8em;
}
.search form button:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
    /*background-color: rgb(37,74,149) ;*/
}
.vlag {
    float: right;
    margin-right: 43%;
    margin-top: -5%;
}

.menubeeld {
    width: 69.7%;
    margin-left: 23.9%;
    margin-top: -1%;
}

.naambeeld {
    margin-left: 9%;
/* Dit is nodig om de afbeelding te laten schalen in een kleiner venster: */
    width: 69.8%;
    margin-top: -15%;
}

/* HOODFMENU (.hm) */
.navigation {
}
ul.nav.menu.hm {
    font-size: 0.84em;
    font-weight: bold;
    margin-top: 4em;
}
ul.nav.menu.hm li {
    background: 0;
    float: left;
    margin: 0 2.5em 0 0 ;
}
ul.nav.menu.hm li a {
    /*color: rgb(37,74,149);*/     /*wordt al bepaald door r.29*/
}
ul.nav.menu.hm li.active a, ul.nav.menu.hm li a:hover {
    color: rgb(64,185,212);
    border-bottom: 4px solid rgb(64,185,212);
}
ul.nav.menu.hm li a:hover {
    background: 0;
}

/* PRAKTIJKMENU (.pm) */
div#sidebar.span3 {
    margin-top: -0.8em;
    width: 23%;
    /*border: 1px solid red;*/
}
ul.nav.menu.pm {
  /*width: 80%;*/
  /*border: 1px solid green;*/
}
ul.nav.menu.pm li {
    margin: 0.5em 0;
    padding-right: 1em;
}
ul.nav.menu.pm li a {
    color: rgb(64,185,212);
    padding: 0.15em 0 0.15em 0.4em;
}
ul.nav.menu.pm li.active {
    background: none;
}
ul.nav.menu.pm li.active a {
    background: rgb(225,233,244) url(/templates/gcb/images/gtr.png) 0.45em 0.45em no-repeat;
    color: rgb(64,185,212);
    padding-left: 2em;
}
ul.nav.menu.pm li a:hover,
ul.nav.menu.pm li ul.nav-child li a:hover {
    background: rgb(225,233,244);
}
ul.nav.menu.pm li ul.nav-child li {
    font-size: 1.1em;
    padding: 0.2em 0;
}
ul.nav.menu.pm li ul.nav-child li a {
    color: rgb(107,135,194);
    font-weight: bold;
    background: transparent;
    padding-right: 1em;
}
ul.nav.menu.pm li ul.nav-child li.active a {
    color: rgb(37,74,149);
    background: url(/templates/gcb/images/gtr-rfl.png) 0.9em 0.3em no-repeat;
    margin-left: 1.1em;
}
/*Einde praktijkmenu*/

.row-fluid {
    font-size: 0.9em;
    margin-top: 3%;
    float: left;
  }
main#content {
      line-height: 1.5em;
      /*margin-left: 1.6%;*/
  }
main#content h1, .page-header h1 {
    font-size: 1.2em;
    color: rgb(64,185,212);
    font-weight: normal;
    margin-top: -0.2em;
}
main#content .page-header {
    border-bottom: 0;
}
main#content h2, .headline2, .page-header h2 {
    color: rgb(37,74,149);
    font-family: 'Arial Narrow', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size:  115.7407407407408%; /* 1.1574074em */
/*de volgende 3 zijn speciaal voor de inline koppen*/
    display: block;
    margin-bottom: 0.3em;
    margin-top: 0.2em;
}
main#content ul {
    list-style-position: inside;
}
main#content .item-page h3 {
    color: rgb(64,185,212);
}

/* kopjes en tekst in contactlijst fysio medewerkers */
main#content .contact .page-header h2 {
    /*margin: 0.5em 0;*/
}
.contact h3 {
    display: none;
}
.contact-miscinfo .dl-horizontal dd {
    /*margin-left: 0;*/
}
.contact .dl-horizontal dd {
    margin-left: 0;
    float: left;
}
.contact .thumbnail {
  padding: 0;
  margin: 0 0 1em 0;
  border: 0;
  float: left;
}
.contact-emailto {
    font-weight: bold;
}
.contact-category .list-title {
    font-weight: bold;
    float: left;
    width: 45%;
}
.category.list-striped {
  margin-top: 1em;
}
.category.list-striped li {
    background: 0;
    /*margin: 0;*/
    padding-left: 0;
}

/* weergave praktijknieuws huisartsen */
.blog .items-row {
    /*top: 3em;*/
}
/* verbergen van pagina aanduiding bij een artikel van meerdere pagina's */
.article-index, .pagenavcounter {
    display: none;
}

/* onderste modules  */
.footer .container {
    font-size: 0.8em;
    /*margin-top: 2%;*/
    padding: 1em 0;
}
.moduletable.span3 {
    width: 20.8%;
    height: 140px;
    margin: 0 1% 0 0%;
    padding: 0.8em;
    color: #fff;
}
footer.footer .moduletable h3 {
    font-size: 1.25em;
}
.container hr {
    display: none;
}
.moduletable.box1 {
    color: rgb(37,74,149);
    background: rgb(203,211,0) url(/images/algemeen/ponsgat.png) 95% 8% no-repeat;
    list-style-position: inside;
}
.moduletable.box2 {
    background: rgb(126,192,182);
}
.moduletable.box3 {
    background: rgb(107,135,194);
}
.moduletable.box4 {
    background: rgb(64,185,212);
}

/* Sidebar */
.well.banner-spacer {
    display: none;
}
.well.banner-sidebar {
    background: none;
    border: none;
    box-shadow: none;
}
.custom.banner-sidebar {
    background: none repeat scroll 0 0 rgb(64,185,212);
    border-radius: 1em;
    color: rgb(255, 255, 255);
    font-family: "Arial Narrow", Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 1em 0.5em;
    width: 65%;
}
/* back to Top */
footer.footer .pull-right {
    margin: 1% 6% 1% 0;
    clear: both;
    width: 100%;
    text-align: right;
}
footer.footer div.container > p:last-child {
    clear: both;
    background: #333;
    color: #fff;
    width: 94%;
    padding: 0 0 0 1%;
      }
.voetregel {
        float: right;
        margin: 3em 4.3em -5em 0;
      }
.voetregel p {
  color: #fff;
  font-size: 0.8em;
}
.voetregel p a {
    /*font-size: 100%;*/
    color: #fff;
}
.voetregel p a:hover {
    background: none;
    text-decoration: underline;
  }

/* = Beezing Forms = = = = = = = = = = = = = = = = = = = = = = = = = = = = */
      div.bfDiv-herhaal,
      div.bfDiv-fysio {
        background: rgb(215,240,246);
        padding: 15px 0 15px 15px;
        width: 88%;
      }
      .bfForm-fysio .bfPageIntro {
        background: rgba(255,255,255,0.5);
        padding: 0.6em 0 1em 0.8em;
        margin: -1.1em -1em 1em -1em;
      }
      .bfForm-herhaal fieldset {
          margin-top: 0;
          margin-bottom: -0.8em;
  }
      .bfForm-herhaal fieldset legend {
        font-weight: bold;
        color: rgb(37,74,149);
        margin-right: 0.5em;
        float: left;
      }
    .bfForm-herhaal #S1 legend, #S2 legend, #S3 legend, #S4 legend, #S5 legend, #S6 legend,
    #S7 legend, #S8 legend, #S9 legend, #S10 legend {
      width: 2%;
      padding-bottom: 6px;
    }
      .bfForm-herhaal div section.bfElemWrap.bfLabelLeft,
      .bfForm-fysio .bfElemWrap.bfLabelLeft /* Formulier Fysio */ {
          margin: 0.5em 0px -0.7em 0px;
          float: left;
          width: 100%;
       }
      .bfForm-herhaal div section.bfElemWrap.bfLabelLeft label,
      .bfForm-fysio .bfElemWrap.bfLabelLeft label /* Formulier Fysio */ {
        width: 6.5em;
        float: left;
        font-size: 0.9em;
      }
      .bfForm-herhaal #bfElemWrap1518.bfElemWrap.bfLabelLeft label {
        width: 9em;
      }
      .bfForm-herhaal div section.bfElemWrap.bfLabelLeft input,
      .bfForm-herhaal div section.bfElemWrap.bfLabelLeft select,
      .bfForm-herhaal textarea.ff_elem,
      .bfForm-fysio .bfElemWrap.bfLabelLeft input,
      .bfForm-fysio .bfElemWrap.bfLabelLeft select,
      .bfForm-fysio .bfElemWrap.bfLabelLeft textarea {
        width: 70%;
        font-size: 0.9em;
        border: 1px solid rgb(37,74,149);
        border-radius: 0.3em;
        padding: 3px;
        margin-left: 2em;
    }
      .bfForm-herhaal div section.bfElemWrap.bfLabelLeft select,
      .bfForm-fysio .bfElemWrap.bfLabelLeft select {
        width: 31%
      }
/* de gele rollovers verwijderen */
      .bfElemWrap.bfLabelLeft.bfRolloverBg,
      .bfElemWrap.bfLabelTop.bfRolloverBg {
        background: transparent !important;
      }
/* styling van de bovenste medicijnregel */
.bfForm-herhaal .bfBlock #S1 {
    margin-top: 4em;
    float: left;
}
  /* styling van de inputs */
      input[placeholder='b.v. Otrivin'], input[placeholder='medicijnnaam'] {
        border: 1px solid rgb(37,74,149);
        width: 22%;
        padding: 3px;
        font-size: 0.9em;
        float: left;
      }
      div.bfFieldset-m.bfClearfix fieldset .bfBlock .bfClearfix span.bfElemWrap.bfLabelTop label {
        color: rgb(37,74,149);
        float: left;
        margin-top: -1.5em;
      }
      input[placeholder=sterkte], input[placeholder='bijv. 500'],
      input[placeholder=gebruik], input[placeholder='bijv. 2x daags'],
      input[placeholder=aantal], input[placeholder='bijv. 30'] {
        border: 1px solid rgb(37,74,149);
        border-radius: 0.3em;
        background: #fff;
        width: 14%;
        padding: 3px;
        font-size: 0.9em;
        float: left;
      }
      .ff_elem.chzn-done {
        border: 1px solid rgb(37,74,149);
        width: 22%;
        font-size: 0.9em;
        float: left;
      }
      .bfForm-herhaal button[value='extra regel(s) toevoegen'],
      .bfSubmitButton,
      .bfCancelButton {
        float: right;
        padding: 1px 5px 1px 5px;
        color: rgb(37,74,149);
        font-weight: bold;
        font-size: 0.9em;
        background: transparent;
        border: 1px solid transparent;
        border-radius: 0.3em;
        margin: -1px 35px -1px -1px;
            }
      .bfForm-herhaal button[value='extra regel(s) toevoegen']:hover,
      .bfSubmitButton:hover,
      .bfCancelButton:hover {
        border: 1px solid rgb(37,74,149);
      }
      .bfForm-herhaal button[value='extra regel(s) toevoegen'] {
          float: left;
          margin: 1em;
           }

      .bfForm-fysio .bfSubmitButton {
          margin-top: 2.2em;
          margin-right: 0.2em;
}
      .bfForm-fysio .bfCancelButton {
               float: left;
               margin-top: 1em;
                   margin-left: -0.4em;
                }
      button[value='delrow'], button[value='reset'] {
        display: none;
      }
      /* De payoff van CrossTec verwijderen */
      div#ff_formdiv1 + div span,
       {
          color: lightcyan;
          /*display: none;*/
      }
/* geen lelijke blauwe randen om focus elementen
** -webkit-focus-ring-color auto 5px ** weghalen */
      :focus, select:focus {
          outline: none;
      }


/* = @media 979 = = = = = = = = = = = = = = = = = = = = = = = = = = = = */

@media (max-width: 979px) {
  .logo-gc {
    /*margin-bottom: 2em;*/
  }
  footer .container {
    width: 98%;
    padding: 0 0%;
  }
  footer.footer .pull-right {
      margin: 1% 9.5% 1% 0;
  }
  footer.footer div.container > p:last-child {
      width: 91%;
  }
  .moduletable.span3 {
    width: 20%;
    font-size: 1.2em;
    height: 100%;
    min-height: 148px;
  }
  .moduletable.box3.span3 .box3 table {
    width: 100% !important;
    font-size: 90%;
    /*color: red;*/
  }
}
/* = @media 768 = = = = = = = = = = = = = = = = = = = = = = = = = = = = */

@media (max-width: 768px) {
  /* nLevel menu voor mobiel */
    nav#rain_main_ul {
      /*display: block !important;*/
  }
  .navbar .btn-navbar {
    display: none;
  }
  .nav-collapse, .nav-collapse.collapse {
    overflow: visible;
  }
  ul.nav.menu.hm, ul.nav.menu.pm {
    /*display: block;*/
  }
  nav.navigation div#mobile_menu_show.menu_button.menu_icon {
    display: none !important;
    /*border: 1px solid red;*/
  }
	.body {
    /*max-width: 800px;*/
  }
  div#sidebar.span3 {
      float: left;
      width: 22%;
      /*border: 1px yellow solid;*/
      /*color: yellow !important;*/
  }
  ul.nav.menu.hm li {
      margin-right: 0.1em;
  }
  main#content.span6 {
    float: left;
    width: 65%;
  }
  div#aside {
    /*clear: both;*/
    float: left;
    margin-left: 0%;
    max-width: 35%;
  }
  .footer .container {
  margin-top: 0;
    padding: 0 0%;
    font-size: 1em;
  }
  .moduletable.span3 {
    float: left;
    width: 35%;
    margin: 2% 5%;
    font-size: 0.8em;
  }
  footer.footer .pull-right {
      margin: 1% 8.5% 1% 0;
  }
  footer.footer div.container > p:last-child {
  width: 101%;
  margin-left: -1%;
  }
}
/* = = @media 620 = = = = = = = = = = = = = = = = = = = = = = = = */

@media (max-width: 620px) {
  /*.moduletable.span3 {
    width: 40%;
  }
  ul.nav.menu.hm li {
    margin-bottom: 1em;
}
ul.nav.menu.pm li.active a {
  width: 8em;
  }
  .breadcrumb {
      margin-top: -13%;
  }
  .search {
    margin-top: -8%;
  }
  .vlag {
    margin-right: 56%;
margin-top: -7%;
  }*/
}

/* = = @media 568 = = = = = = = = = = = = = = = = = = = = = = = = */
@media (max-width: 568px) {
  .body .container {
    padding: 0.3em;
    width: 95%;
    margin: 4% 2%;
  }
  .header {
    width: 100%;
  }
  .logo-gc {
    width: 50%;
  }
  nav.navigation div#mobile_menu_show.menu_button.menu_icon {
    display: block !important;
  }
  .nav-collapse {
    overflow: visible;
  }
  /* Protostar hamburger 3.4.5 verbergen */
  .btn.btn-navbar {
    display: none;
  }

  /* mijn hamburger button */
  #mobile_menu_show.menu_button.menu_icon {
    background: none;
    float: right;
    margin-right: 5%;
    margin-top: -11.5em;
  }
  /* de lijnen van het hamburgermenu */
  div.navicon-line {
    background-color: rgb(37,74,149);
  }
  /* mijn hamburger tekst */
  #mobile_menu_show.menu_button.menu_icon::before {
    content: "MENU";
    float: right;
    margin-right: 125%;
    color: rgb(37,74,149);
  }
  /* mobiel overlay menu */
  #yt-off-resmenu.mm-ismenu {
    color: #254A95;
    background: rgba(240, 240, 240, 1);
    font-weight: bold;
    width: 100% !important;
  }
  #yt-off-resmenu.mm-ismenu a {
    font-size: 120%;
  }
  /* truc om de chevrons over de hele menubreedte te laten verwijzen;  */
  .mm-list.mm-panel a.mm-subopen {
    background: transparent;
    width: 100%;
  }
  /* kleur van menu-titels-met-een-submenu */
  /*.mm-list>li>a+a { color: rgba(0,255,255,1); }*/

  /* css-style chevron sub-menu terug-teken < */
  div#yt-off-resmenu.mm-menu .mm-list>li>a.mm-subclose:before {
    color: #254A95;
    border-color: #254A95;
    border-width: 3px;
  }
  /* css-style chevron submenu vooruit-teken > */
  div#yt-off-resmenu.mm-menu .mm-list>li>a.mm-subopen:after {
    border-color: #254A95;
    border-width: 3px;
  }
  /* kleur van terug-menu */
  div#yt-off-resmenu.mm-menu .mm-list>li>a.mm-subclose {
    color: #254A95;
    background-color: rgb(203, 211, 0);
  }
  /* sluitblokje X iets verplaatsen */
  #mobile_menu_hide.close_button {
    margin-top: 5px;
    margin-right: 5px;
  }
  div#yt-off-resmenu {
    /*border: 1px solid red;*/
    /*overflow: auto;*/
    /*padding-bottom: 10px;*/
  }
  /* het hele menu iets omlaag */
  div#yt-off-resmenu.mm-menu>.mm-panel.mm-opened {
    /*margin-top: 20px;*/
  }
  /* bovenste menu's iets minder hoog */
  div#yt-off-resmenu ul li.first_li {
    margin-top: -20px;
  }
  div#yt-off-resmenu ul li.mm-subtitle.first_li {
    margin-top: -40px;
  }
  /* Laatste menu-item meer witruimte */
  div#yt-off-resmenu ul li:last-child {
    /*border: 1px solid red;*/
    margin-bottom: 3em;
  }

  /* einde mobiel overlay menu */

  .breadcrumb {
    margin-top: 0%;
    margin-left: 2%;
    float: right;
    text-align: right;
    width: 95%;
  }
  .search {  display: none;
    margin-top: -55%;
    margin-right: -3%;
    position: relative;
  }
  .search .inputbox {  width: 55%;
  }
  .vlag {    display: none;
    margin-right: 4%;
    margin-top: -15%;
  }
  .naambeeld { display: none; }
  .menubeeld { display: none;}
  ul.nav.menu.hm, ul.nav.menu.pm {
    display: none;
  }
  .row-fluid {
    margin-top: -5%;
    width: 80%;
  }
  .well.banner-sidebar {
    display: none;
  }
  main#content.span6 {
    width: 120%;
    margin-top: -0.5em;
  }
  main#content h1, .page-header h1 {
    /*margin-bottom: -1em;*/
  }
  main#content .page-header h2 {
    margin-bottom: -0.5em;
  }
  /* module boxen onderin */
  .moduletable.span3 {
    width: 80%;
    margin: 0.5em 10%;
  }
  .footer .container {
    padding: 0 ;
  }
  footer.footer div.container > p:last-child {
    width: 100%;
  }
  /* formulier mobiel */

  body.site.com_breezingforms {
    padding: 0;
  }
  div#sidebar {
  display: none;
}
  div.bfDiv-herhaal  {
    margin-top: -1.1em;
    width: 113%;
    padding: 0.8em;
  }
  .bfForm-herhaal #S1 legend {
    width: 100%;
    margin-top: -1.5em;
    padding-bottom: 6px;
  }
  #S2 legend, #S3 legend, #S4 legend, #S5 legend, #S6 legend,
  #S7 legend, #S8 legend, #S9 legend, #S10 legend {
    width: 100%;
    padding-bottom: 0;
  }
  .bfForm-herhaal fieldset {
    margin-bottom: 0em;
}

    .bfForm-herhaal div section.bfElemWrap.bfLabelLeft label {
      width: 97%;
      margin: 0.1em 0.1em;
    }
    .bfForm-herhaal div section.bfElemWrap.bfLabelLeft input,
    .bfForm-herhaal div section.bfElemWrap.bfLabelLeft select {
      margin-left: 0;
      width: 90%;
      float: left;
    }
    label#bfLabel938 {
      clear: both;
      margin-left: -0.2em;
      margin-top: -1em;
    }
    label#bfLabel939, label#bfLabel940, label#bfLabel941, label#bfLabel942 {
      margin-top:0;
      clear: both;
    }
    input[placeholder='b.v. Otrivin'], input[placeholder='medicijnnaam'],
    input[placeholder=sterkte], input[placeholder='bijv. 500'],
    input[placeholder=gebruik], input[placeholder='bijv. 2x daags'],
    input[placeholder=aantal], input[placeholder='bijv. 30'] {
        width: 90%;
      }
    .ff_elem.chzn-done {
        width: 50%;
        clear: both;
      }
  section#bfElemWrap1518.bfElemWrap.bfLabelLeft label#bfLabel1518 {
    width: 100%;
  }      }
  .bfForm-herhaal #bfElemWrap1518.bfElemWrap.bfLabelLeft  {
        /*color: red;*/
          }
  .bfForm-herhaal textarea.ff_elem {
        width: 90%;
        margin-left: 0;
      }

    .bfForm-herhaal button[type=button] {
      float: left;
      border: 1px solid rgb(0,0,150);
      border-radius: 0.3em;
      width: 100%;
      margin: 2em 0;
      padding: 5px;
    }
    div.bfDiv-fysio {
          width: 97%;
        }

      .bfDiv-fysio .bfElemWrap.bfLabelLeft input,
      .bfDiv-fysio .bfElemWrap.bfLabelLeft select,
      .bfDiv-fysio .bfElemWrap.bfLabelLeft textarea {
          margin-left: 0;
          width: 95%;
        }


/*    fieldset#bfQuickModeSection23315 label {
      display: none;
    }
    input[placeholder='DD-MM-JJJJ'] {
      width: 100% !important;
    }
*/


    .voetregel p, .voetregel p a {
      display: none;
      /*color: red;*/
    }

}

/* = = @media 420 = = = = = = = = = = = = 420 = = = = = = = = = = = = */

@media (max-width: 420px) {
  .breadcrumb {
    float: left;
    text-align: left;
  }
  /* hamburger tekst */
  #mobile_menu_show.menu_button.menu_icon::before {
    margin-right: 130%;
  }
  /*hamburger button */
  #mobile_menu_show.menu_button.menu_icon {
    margin-right: 0%;
    margin-top: -60%;
  }

}
